{% extends 'ayou/layout.html' %}
{% load static %}

{% block body %}



<div class="mainpagecontainer indexpagecontainer">
<!-- <h1>Welcome to Ayou</h1> -->
<div class="figletheading">
    <pre>{{ heading }} </pre>
</div>
<Section>
    'Ayou' allows you to create a custom avatar, complete with memories and stories.
    These memories constitute the 'knowledge domain' of your avatar. Each avatar knows the domains of all the other avatars in the system, and can, entirely independently, make decisions about whether to consult them for information to use in a conversation. Give your avatar memories and emotions, chat to it, or chat woth other avatars.'
</Section>

<div class="indexformcontainer">
<form class="indexform" action="{% url 'ayou:login' %}" method="POST" >
    {% csrf_token %}
   <div class="form-group">
    <label for="username">Username:</label>
    {{ form.username }}
    </div>
    <br>
    <div class="form-group">
    <label for="password">Password:</label>
    {{ form.password }}
    <br>
    <input type="submit" value="login">
</form>
</div>
<br>
<br>
<button class="btn2"><a href="{% url 'password_reset' %}">Forgot password?</a></button>
   
   

<br>
<br>
    <!-- <h4>Not registered?</h4> -->
    
        <pre class="figletsubheading">{{ subheading }} </pre>
   

    <button class='btn register'><a href = "{% url 'ayou:register' %}">Join us</a></button>
<br>
<br>

</div>



{% endblock %}

